.multiselect {
    width:400px;
    height:100px;
    border:solid 1px #c0c0c0;
    overflow:auto;
}
 
.multiselect label {
    display:block;
}
 
.multiselect-on {
    color:#ffffff;
    background-color:#000099;
}

h4{
	color: #0f0a3c !important;
}

body{
	background-color: #c6e377 !important;
}

.navbar-nav .nav-link{
	color: #07456f !important;
}

.navbar{
	background-color: #729d39 !important;
}